<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sucesso</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sucesso.css" />  
</head>

<body>
    <div class="alert alert-success" role="alert">
        <h2>Cadastrado com sucesso!</h2>
        
        <form action="http://localhost:8080/livro/formulario">
            <button type="submit">Voltar</button>
        </form>
        <form action="http://localhost:8080/livro/listar">
            <button type="submit">Listar</button>
        </form>
    </div>
    
    
    


    <script src="/js/bootstrap.min.js"></script>
</body>

</html>